
RewriteEngine on

RewriteOptions inherit
RewriteCond %{HTTP_HOST} ^intranet\.bermudez\.cl$ [OR]
RewriteCond %{HTTP_HOST} ^www\.intranet\.bermudez\.cl$
RewriteCond %{REQUEST_URI} !^/\.well-known/acme-challenge/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/cpanel-dcv/[0-9a-zA-Z_-]+$
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/(?:\ Ballot169)?
RewriteCond %{REQUEST_URI} !^/\.well-known/pki-validation/[A-F0-9]{32}\.txt(?:\ Comodo\ DCV)?$
RewriteRule ^/?$ "https\:\/\/www\.intranet\.bermudez\.cl\/index\.php" [R=301,L]

